/* --------------------------------
Created by Putra Nursallihin
Student ID: 2082050B 
Date: 31 Jan 2021 
-------------------------------- */

@font-face { 
    font-family: 'Avenir';
    src: url(../fonts/avenir.ttf) format('ttf'); 
    font-weight: 300; 
}

@font-face { 
    font-family: 'Avenir';
    src: url(../fonts/avenir-bold.ttf) format('ttf'); 
    font-weight: 800; 
}

html { 
    scroll-behavior: smooth; 
}

h1, h2, h3, h4, h5, p { 
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

h1 { 
    font-size: 16px; 
    font-weight: 300;
    color: #BABABA;
}

h2 { 
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.69px;
    color: #2B2B2B;
    margin: 55px 0 20px;
}

h3 {
    font-size: 20px; 
    font-weight: 300;
}

h4 { 
    font-size: 14px; 
    font-weight: 800; 

}

/* Bootstrap Overrides */

nav { 
    background: #D6006B;
}

.card { 
    border-radius: 0.5rem; 
    overflow: hidden;
}

.navbar-dark .navbar-nav {
    flex-direction: row;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 1px solid #FFFFFF;
}

.navbar-dark .navbar-toggler {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

/* Global */

.stars img { 
    margin: 5px 3px 5px 0; 
    display: inline-block;
}

.search { 
    position: relative
}

.search input[type=submit] {
    position: absolute;
    top: 5px;
    right: 25px;
    background: url(../images/search-icon@2x.png);
    background-size: cover;
    border: none;
    height: 60px;
    width: 60px;
}

.search input[type=submit]:hover {
    background: url(../images/search-icon-hover@2x.png);
    background-size: cover;
}

.breadcrumb { 
    text-transform: capitalize;
    color: #8e8e8e;
}

.breadcrumb a { 
    color:#DB005D; 
    text-decoration: none;
    margin: 0 5px;
}

.breadcrumb a:hover { 
    text-decoration: underline;
}

.dropdown { 
    text-align: left; 
}

.dropdown button { 
    background-color: transparent;
    border: none; 
    color: #FFFFFF;
    outline: none;
    padding: .5rem 1rem;
    font-size: 16px;
}

.dropdown button:hover,
.dropdown button:focus,
.dropdown button:active { 
    background: none; 
    border: none;
    box-shadow: none;
    outline: none !important;
    color: #FFFFFF;
}

#searchinput { 
    font-size: 19px; 
    color: #6A6A6A; 
    border-radius: 50px;
    padding: 19px 40px;
}

.header { 
    margin-top: 40px;
    text-transform: capitalize;
}

.header a {
    text-transform: initial;
}


#signUpLink > a { 
    background: #EAEAEA;
    border-radius: 30px;
    color: #B50038; 
    font-weight: 700; 
    padding: 10px 30px;
    margin-left: 10px;
    border: none;
}

#signUpLink > a:hover { 
    background: #B50038; 
    color: #FFFFFF;
}
#loginLink,
#signUpLink,
#userLink { 
    display: none;
}

#incorrectLogin { 
    display: none;
    text-align: center;
}

.see-all { 
    text-align: right;
    margin-top: 10px;
}

#categorydropdown { 
    margin: 10px 0 10px 10px; 
}
/* Home Page */

#home nav { 
    background: transparent;
}

#home header { 
    background: url(../images/masthead-banner@2x.png) #000000;
    background-size: cover;
    position: relative;
}

#home main a,
#category main a { 
    text-decoration:  none;
    color: #000000;
}


#home main .header a:hover,
#category a:hover { 
    color: #B50038; 
}

#home main a .col:hover,
#category .card:hover { 
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2)!important;
    border-radius: .5rem;
    transition: 200ms;
}

#home #searchinput { 
    font-size: 23px; 
}

#home .slick-slide .stars img { 
    display: inline-block;
}

#home #featured-top,
#home #featured-bottom { 
    position:relative;
}

#home #featured-top .col,
#home #featured-bottom .col { 
    margin: 0 12px;
}

#home #featured-top img.scroll-left,
#home #featured-bottom img.scroll-left { 
    position: absolute;
    top: 40%;
    transform: translateX(-30px);
}

#home #featured-top img.scroll-right,
#home #featured-bottom img.scroll-right { 
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateX(30px);
}

/* Category Page  */

.total-reviews {
    font-size: 14px;
    color: #717171;
    margin-left: 10px;
}
.thumbnail { 
    min-height: 193px;
}

.secondary-info { 
    margin-top: 10px;
    border-top: 1px solid #D9D9D9;
    padding-top: 16px;
    font-size: 14px;
}

#category .telephone {
    background-image: url(../images/telephone.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}

.ext-link {
    background-image: url(../images/ext-link.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 30px;
    margin-left: 5px;
    border-left: 1px solid #D9D9D9;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.ext-link:hover {
    text-decoration: underline;
    color: #B50038;
}

/* Reviews Page */
#reviews {
    background: linear-gradient(180deg, #FFFFFF 400px, #F2F2F2 400px);
}
#reviews h1 { 
    font-size: 60px; 
    font-weight: 600;
    color: #2B2B2B;
    margin-bottom: 0;
}

#reviews h3 { 
    font-size: 30px;
    font-weight: 800;
    margin: 30px 0 25px 0;
}

#reviews #header span { 
    font-size: 14px;
    color: #505050;
}

#reviews #header #categories { 
    color: #717171;
    margin-bottom: 10px;
}

#reviews #header .submit-review {
    display: inline-block;
    width: 160px;
    padding: 5px;
    background: transparent linear-gradient(180deg, #D6006B 0%, #BE056F 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px; 
    font-weight: 600;;
    text-decoration: none; 
    text-align: center;
}

#reviews #header .submit-review:hover { 
    background: #AD0257;
} 

#reviews #header .a2a_dd {
    display: inline-block;
    /* float: right; */
    width: 100px;
    padding: 5px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #9A9A9A;
    color: #505050;
    font-size: 16px; 
    font-weight: 600;;
    text-decoration: none; 
    text-align: center;
}

#reviews #header .a2a_dd:hover { 
    background: #e8e8e8;
}

#reviews #restaurant-details  { 
    margin-top: 10px;
}


#reviews #restaurant-details #content {
    height: 100%;
}

#reviews #restaurant-details #content h4 {
    font-size: 20px; 
    font-weight: 300; 

}

#reviews #restaurant-details #content p,
#reviews #restaurant-details #content span {
    font-size: 14px; 
    font-weight: 300; 
    margin-top: 10px;
}

#reviews #restaurant-details .ext-link {
    border-left: none;
    font-size: 14px;
    color: #DB005D;
    margin-top: 10px;
}

#reviews #restaurant-details #review-restaurant-photos .carousel-inner { 
    border-radius: 0.5rem;
    overflow: hidden;
}

#reviews #restaurant-details .carousel-control-prev { 
    background-image: url(../images/btn-left-arrow@2x.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    opacity: 1;
}

#reviews #restaurant-details .carousel-control-next { 
    background-image: url(../images/btn-right-arrow@2x.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    opacity: 1;
}

#reviews #restaurant-details .claim-business { 
    position: absolute;
    bottom: 20px;
    text-align: right;
    right: 20px;
    font-size: 12px;
}

#reviews #restaurant-details .claim-business a { 
    font-weight: 600;
    text-decoration: none; 
    color: #2B2B2B; 
}

#reviews #restaurant-details .claim-business a:hover { 
    color:#DB005D;
}

#reviews #individual-reviews span#name,
#reviews #individual-reviews span#address { 
    
    font-size: 12px;
    display: block;
}

#reviews #individual-reviews #profile-image { 
    display: block;
    border-radius: 100px;
    margin-bottom: 20px;
}

#reviews #individual-reviews h4 { 
    font-size: 20px; 
    font-weight: 300;
    margin: 20px 0 25px;
}

/* Footer  */

footer { 
    background: #F2F2F2; 
}

footer .container { 
    background: url(../images/footer-logo.png) no-repeat right 30px center;
}

footer ul { 
    margin-bottom: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 30px;
}

footer ul li a { 
    font-size: 14px; 
    color: #6A6A6A;
    text-decoration: none;
}

footer ul li a:hover {
    color: #D6006B; 
    text-decoration: underline;
}

@media (min-width: 1200px) {
    .h1, h1 { 
        font-size: 16px; 
    }

    #home .slick-list, 
    #home .slick-track { 
        min-height: 305px;
    }

}

@media (max-width: 720px) { 
    #reviews h1 {
        font-size: 40px;
    }
}