/* --------------------------------
Created by Putra Nursallihin
Student ID: 2082050B 
Date: 31 Jan 2021 
-------------------------------- */

@import url('../../stylesheets/fontawesome/css/fontawesome.min.css');

@font-face { 
    font-family: 'Avenir';
    src: url(../fonts/avenir.ttf) format('ttf'); 
    font-weight: 300; 
}

@font-face { 
    font-family: 'Avenir';
    src: url(../fonts/avenir-bold.ttf) format('ttf'); 
    font-weight: 800; 
}
html { 
    scroll-behavior: smooth; 
}
h1, h2, h3, h4, h5, p { 
    font-family: Avenir, Arial, Helvetica, sans-serif;
}
h1 { 
    font-size: 16px; 
    font-weight: 300;
    color: #BABABA;
}
h2 { 
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.69px;
    color: #2B2B2B;
    margin: 55px 0 20px;
}
h4 { 
    font-size: 14px; 
    font-weight: 800; 

}
/* Bootstrap Overrides */
nav { 
    background: #D6006B;
}

.stars { 
    margin: 5px 0; 
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

.dropdown { 
    text-align: left; 
    margin: 10px 0 10px 10px;
}

.dropdown button { 
    background-color: transparent;
    border: none; 
    color: #FFFFFF;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

.dropdown button:hover,
.dropdown button:focus,
.dropdown button:active { 
    background: none; 
    border: none;
    box-shadow: none;
    outline: none !important;
}

#searchinput { 
    font-size: 23px; 
    color: #6A6A6A; 
    border-radius: 50px;
    padding: 19px 40px;
}

#signup { 
    background: #EAEAEA;
    border-radius: 30px;
    color: #B50038; 
    font-weight: 700; 
    padding: 8px 20px;
    margin-left: 10px;
}

#signup:hover { 
    background: #B50038; 
    color: #FFFFFF;
}

#home nav { 
    background: transparent;
}

#home header { 
    background: url(../images/masthead-banner@2x.png);
    background-size: cover;
}

#home #hbb,
#home #desserts { 
    position:relative;
}

#home #hbb img.left-paddle,
#home #desserts img.left-paddle { 
    position: absolute;
    top: 40%;
    transform: translateX(-30px);
}

#home #hbb img.right-paddle,
#home #desserts img.right-paddle { 
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateX(30px);
}

#home #hbb .row,
#home #desserts .row { 
    overflow: hidden;
}
footer { 
    background: #F2F2F2; 
}

footer .container { 
    background: url(../images/footer-logo.png) no-repeat right 30px center;
}

footer ul { 
    margin-bottom: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 30px;
}

footer ul li a { 
    font-size: 14px; 
    color: #6A6A6A;
    text-decoration: none;
}

footer ul li a:hover {
    color: #D6006B; 
    text-decoration: underline;
}

@media (min-width: 1200px) {
    .h1, h1 { 
        font-size: 16px; 
    }
}